In [37]:
! pip install --upgrade pandas pandasql

Requirement already satisfied: pandas in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (1.3.5)
Requirement already satisfied: pandasql in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (0.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: sqlalchemy in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from pandasql) (2.0.31)
Requirement already satisfied: six>=1.5 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: importlib-metadata in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy->pandasql) (6.7.0)
Requirement already satisfied: zipp>=0.5 in c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy->pandasql) (3.15.0)

WARNING: Ignoring invalid distribution - (c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\usuário\appdata\local\programs\python\python37\lib\site-packages)

In [38]:
import pandas as pd
from pandasql import sqldf

In [39]:
base= pd.read_csv("C:/Users/Usuário/Downloads/archive (2)/projetoCase/Student_performance_data _.csv")

In [40]:
base.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [42]:
import pandas as pd
from pandasql import sqldf

# Carregando o arquivo CSV em um DataFrame
base = pd.read_csv(r"C:\Users\Usuário\Downloads\archive (2)\projetoCase\Student_performance_data _.csv")

# Verificando se o DataFrame foi carregado corretamente
print(base.head())

# Definindo a função lambda pysqldf com db_uri especificado
pysqldf = lambda q: sqldf(q, globals(), db_uri='sqlite:///temp.db')

# Template da query
query = """
SELECT *
FROM base
"""

# Executando a query
resultado = pysqldf(query)
print(resultado)

   StudentID  Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0       1001   17       1          0                  2        19.833723
1       1002   18       0          0                  1        15.408756
2       1003   15       0          2                  3         4.210570
3       1004   17       1          0                  3        10.028829
4       1005   17       1          0                  2         4.672495

   Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0         7         1                2                0       0      1
1         0         0                1                0       0      0
2        26         0                2                0       0      0
3        14         0                3                1       0      0
4        17         1                3                0       0      0

   Volunteering       GPA  GradeClass
0             0  2.929196         2.0
1             0  3.042915         1.0
2             0  0.112602         4.0
3             0  2.054218         3.0
4             0  1.288061         4.0

TypeError: __init__() got multiple values for argument 'schema'

In [41]:
import pandas as pd
from pandasql import sqldf

# Carregando o arquivo CSV em um DataFrame
base = pd.read_csv(r"C:\Users\Usuário\Downloads\archive (2)\projetoCase\Student_performance_data _.csv")

# Verificando se o DataFrame foi carregado corretamente
print(base.head())

# Definindo a função lambda pysqldf com db_uri especificado
pysqldf = lambda q: sqldf(q, globals(), db_uri='sqlite:///temp.db')

# Template da query
query = """
SELECT *
FROM base
"""

# Executando a query
resultado = pysqldf(query)
print(resultado)

   StudentID  Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0       1001   17       1          0                  2        19.833723
1       1002   18       0          0                  1        15.408756
2       1003   15       0          2                  3         4.210570
3       1004   17       1          0                  3        10.028829
4       1005   17       1          0                  2         4.672495

   Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0         7         1                2                0       0      1
1         0         0                1                0       0      0
2        26         0                2                0       0      0
3        14         0                3                1       0      0
4        17         1                3                0       0      0

   Volunteering       GPA  GradeClass
0             0  2.929196         2.0
1             0  3.042915         1.0
2             0  0.112602         4.0
3             0  2.054218         3.0
4             0  1.288061         4.0

TypeError: __init__() got multiple values for argument 'schema'

In [31]:
resultado

NameError: name 'resultado' is not defined